@mixin anchorblock {
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
}

@mixin border {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

header {
    border-bottom: solid 5px #000;
    margin-bottom: 20px;
}

table {
    @include border;
    width: 100%;

    th {
        background-color: black;
        color: white
    }

    th, tr, td {
        @include border;
    }

    td, th {
        padding: 3px 5px;
    }
}

a {
    cursor: pointer
}

.edit {
    @include anchorblock;
    background-image: url('../assets/images/icons/pencil.svg');
}
.del {
    @include anchorblock;
    background-image: url('../assets/images/icons/trash.svg');
}