@mixin anchorblock {
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.edit {
    @include anchorblock;
    background-image: url('../assets/images/icons/pencil.svg');
}
.del {
    @include anchorblock;
    background-image: url('../assets/images/icons/trash.svg');
}