* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.slider-container {
    width: 60%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider-wrapper {
    display: flex;
    width: 500px;
    height: 500px;
}

.slider-wrapper img {
    border: solid 1px #000;
    width: 100% !important;
}

#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.5;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.5;
    cursor: pointer;
}

#prevBtn:hover, #nextBtn:hover {
    opacity: 1;
}